<h1>Usuario v2</h1>

<form> 
    <label for="codigo">Código :</label>
    <input id="id" name="id" type="text" ng-model="usuario.id"/>
    <br>
    <label for="idempresa">Código empresa:</label>
    <input id="idempresa" name="idempresa" type="text" ng-model="empresa.id"/>
    <br>
    <label for="nome">Nome :</label>
    <input id="nome" name="nome" type="text" ng-model="usuario.nome"/>
    <br>
    <button ng-click="salvar(empresa,usuario)">Salvar</button>
    <br>
    <button ng-click="cancelar(usuario)">Cancelar</button>
</form>