<h1>Empresa</h1>

<form> 
    <label for="codigo">Código :</label>
    <input id="id" name="id" type="text" ng-model="empresas.id"/>
    <br>
    <label for="nome">Nome :</label>
    <input id="nome" name="nome" type="text" ng-model="empresas.nome"/>
    <br>
    <label for="endereco">Endereço:</label>
    <input id="endereco" name="endereco" type="text" ng-model="empresas.endereco"/>
    <br>
    <label for="telefone">Telefone:</label>
    <input id="telefone" name="telefone" type="text" ng-model="empresas.telefone"/>
    <br>
    <label for="cnpj">CNPJ:</label>
    <input id="cnpj" name="cnpj" type="text" ng-model="empresas.cnpj"/>
    <br>
    <button ng-click="salvar(empresas)">Salvar</button>
    <br>
    <a href="#!/cadastro_usuario/{{empresas.id}}/model.usuario/0">Usuario supervisor</a>
    <br>
    <button ng-click="cancelar(empresas)">Cancelar</button>
</form>