<h1>Pedido</h1>

<form> 
    <div class="row">
       <div class="form-group col-md-4">
         <label for="id">Código</label>
         <input id="id" name="id" type="text" ng-model="Pedidos.id" class="form-control" >
         <label for="valor_total">Valor total</label>
         <input id="valor_total" name="valor_total" type="text" ng-model="Pedidos.valor_total" class="form-control" >
         <label for="status">Status</label>
         <input id="status" name="status" type="text" ng-model="Pedidos.status" class="form-control" >
       </div>
    </div>
    <br>
    <button class="btn btn-success" ng-click="salvar(Pedidos)">Salvar</button>
    <button  class="btn btn-secondary" ng-click="cancelar(Pedidos)">Cancelar</button>
    
</form>