<h1>Pedidos</h1>

<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Valor total</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Pedido in Pedidos track by $index">
            <td>{{Pedido.id}}</td>
            <td>{{Pedido.valor_total}}</td>
            <td>{{Pedido.status}}</td>
            <td><a href="" ng-click="excluir(Pedido)">excluir</a></td>
            <td><a href="#!/cadastro_Pedido/{{Pedido.id}}">editar</a></td>   
        </tr>
    </tbody>
</table>

<a href="#!/cadastro_Pedido">Novo</a>
