<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="usuarioApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="UsuarioControler">
        <script src="js/angular.min.js"></script>
        <script>
            var app = angular.module('usuarioApp',[]);
            
            app.controller('UsuarioControler',function($scope,usuariosService){

                $scope.usuario = {};
                
                listarUsuarios();
                
                function listarUsuarios(){
                    usuariosService.getUsuarios().then(function(resposta){
                        $scope.usuarios = resposta.data;
                    });
                };

                $scope.salvar = function(usuario) {
                    usuariosService.salvarUsuario(usuario).then(function(){
                        listarUsuarios();
                    });
                    $scope.usuario = {};
                };
                
                $scope.excluir = function(usuario) {
                    usuariosService.excluir(usuario).then(function(){
                        listarUsuarios();
                    });
                };
                
                $scope.editar = function(usuario) {
                    $scope.usuario  = angular.copy(usuario);
                };
                $scope.cancelar = function(usuario) {
                    $scope.usuario = {};
                };
            });
            
            
            app.service('usuariosService',function($http) {
                var url = 'http://localhost:8084/condominio_backend/webresources/model.usuario';

                this.getUsuarios = function() {
                    return $http.get(url);
                };
                            
                this.salvarUsuario = function(usuario) {
                    if (usuario.id){            
                        return $http.put(url+'/'+ usuario.id, usuario);
                    }else{
                        return $http.post(url,usuario);
                    }

                };
                    
                this.excluir = function(usuario) {
                    return $http.delete(url+'/'+usuario.id);
                };  
            });
        </script>
            
        <form> 
            <label for="codigo">Código :</label>
            <input id="id" name="id" type="text" ng-model="usuario.id"/>
            <br>
            <label for="nome">Nome :</label>
            <input id="nome" name="nome" type="text" ng-model="usuario.nome"/>
            <br>
            <button ng-click="salvar(usuario)">Salvar</button>
            <br>
            <button ng-click="cancelar(usuario)">Cancelar</button>
        </form>
        
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios track by $index">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nome}}</td>
                    <td><a href="" ng-click="excluir(usuario)">excluir</a></td>
                    <td><a href="" ng-click="editar(usuario)">editar</a></td>   
                </tr>
            </tbody>
             
        </table>
    </body>
</html>
