<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="condominio_backendPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>model.cliente</class>
    <class>model.empresa</class>
    <class>model.fornecedor</class>
    <class>model.itens_pedido</class>
    <class>model.itens_venda</class>
    <class>model.pedidos</class>
    <class>model.usuario</class>
    <class>model.produtos</class>
    <class>model.vendas</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://stampy.db.elephantsql.com:5432/xpkoheox"/>
      <property name="javax.persistence.jdbc.user" value="xpkoheox"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="mlJkZoQa6pQiBYSjGnpcYHB3H5qawr4M"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
    </properties>
  </persistence-unit>
</persistence>
